@font-face {
    font-family: "NBI";
    src: url("./Assests/NBInternationalProBoo.ttf");
}

@font-face {
    font-family: "rejouice";
    src: url("./Assests/Rejouice-Headline.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "NBI";
}

html,
body {
    height: 100%;
    width: 100%;
}

#cursor {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    background-color: #FF5F38;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#cursor h5 {
    font-size: 1vw;
    font-weight: 100;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 208, 208);
    position: relative;
}

#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content {
    height: 100%;
    width: 100%;
    /* background-color: #000000; */
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav {
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
    width: 100%;
}

nav h3 {
    font-size: 1.4vw;
    font-family: "NBI";
    font-weight: 100;
}

nav h4 {
    font-size: 1.4vw;
    font-weight: 100;
    font-family: "NBI";
}

#page1-content h1 {
    font-family: "rejouice";
    font-weight: 100;
    font-size: 27vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}

#page3-top {
    text-align: center;
}

#page3-top h4 {
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}

#page3-top h2 {
    font-size: 4vw;
    font-weight: 500;
}

#page3-top span {
    font-size: 0.7vw;
    background-color: #000;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
}

#page3-ele {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8vw;
}

#page3-ele .box {
    height: 100%;
    width: 32.5%;
    position: relative;
}

#page3-ele .box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#page3-ele .box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease-in 0.5s;

}

#page3-ele .box:hover img {
    opacity: 0;
}

#page4 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

#page4 video {
    height: 100%;
}

#page4 svg {
    position: absolute;
    height: 60%;
}

#page5 {
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
}

.moving-text {
    white-space: nowrap;
    overflow-x: auto;
}
.moving-text::-webkit-scrollbar{
    display: none;
}

.moving-text h1 {
    font-size: 9vw;
    display: inline-block;
}

.gola {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: #FF5F38;
    display: inline-block;
    margin: 1vw 2vw;
}

.con {
    white-space: nowrap;    
    display: inline-block;   
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 0.5vw;
}
#loader h3{
    font-size: 2vw;
}